<!DOCTYPE html>
<html>
  <head>
    <title>Phone IMU</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
      integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        function logMessage(text) {
          $("#log").append("<br>" + $("<div/>").text(text).html());
        }

        logMessage("Start");

        Promise.all([
          navigator.permissions.query({ name: "accelerometer" }),
          navigator.permissions.query({ name: "magnetometer" }),
          navigator.permissions.query({ name: "gyroscope" }),
        ]).then((results) => {
          if (results.every((result) => result.state === "granted")) {
            sensor.start();
            logMessage("Client: I have access to all sensors.");
          } else {
            logMessage("No permissions to use AbsoluteOrientationSensor.");
          }
        });

        // Connect to the Socket.IO server.
        // The connection URL has the following format, relative to the current page:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io();

        socket.on("connect", function () {
          socket.sendBuffer = []; // empty buffer in case the server is restarted while client is still accumulating messages
        });

        // Event handler for server sent data.
        socket.on("server_response", function (msg, cb) {
          logMessage("Server: " + msg.text);
          if (cb) cb();
        });

        $("form#action").submit(function (event) {
          socket.emit("pause");
          logMessage("Client: Asked server to start/stop recording");
          return false;
        });

        // Save device motion
        var alpha = 0;
        var beta = 0;
        var gamma = 0;

        var sendDataLoop;
        function sendData() {
          socket.emit("incoming_data", {
            data: [Date.now(), alpha, beta, gamma],
          });
        }
        function startSending(sendInterval) {
          logMessage(
            "Client: Sending data with interval " + sendInterval + " ms"
          );
          sendDataLoop = setInterval(sendData, sendInterval);
        }
        function stopSending() {
          clearInterval(sendDataLoop);
          socket.sendBuffer = []; // empty buffer to stop sending
        }
        socket.on("set_interval", function (msg, cb) {
          stopSending();
          startSending(msg["interval"]);
        });
        startSending(100);

        function deviceOrientationListener(event) {
          alpha = event.alpha;
          beta = event.beta;
          gamma = event.gamma;
        }

        if (window.DeviceOrientationEvent) {
          window.addEventListener(
            "deviceorientation",
            deviceOrientationListener
          );
        } else {
          alert("Sorry, your browser doesn't support Device Orientation");
        }
      });
    </script>
  </head>
  <body>
    <h1>Ouija Inspiration</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <h2>Send:</h2>

    <form id="action" method="POST" action="#">
      <input type="submit" value="Pause" />
    </form>

    <h2>Receive:</h2>
    <div id="log"></div>
  </body>
</html>
